{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="titleH1">Inscription</h1>
    <section class="form">
        {{ form_start(registrationForm, {'attr': {
            'class': 'form__content',
            'id': 'form__registration'
        }}) }}
        <div class="form__content--input alerte__message">
            {{ form_widget(registrationForm.firstName) }}
            {{ form_errors(registrationForm.firstName) }}
        </div>
        <div class="form__content--input alerte__message">
            {{ form_widget(registrationForm.lastName) }}
            {{ form_errors(registrationForm.lastName) }}
        </div>
        <div class="form__content--input alerte__message">
            {{ form_widget(registrationForm.username) }}
            {{ form_errors(registrationForm.username) }}
        </div>
        <div class="form__content--input alerte__message">
            {{ form_widget(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}
        </div>
            <div class="alerte__message">
                {{ form_widget(registrationForm.plainPassword) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        <div class="form__content--checkboxes alerte__message">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn_secondary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
