{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <section class="article">
{#        <a class="returnLink" href="{{ path('app_category_show', {slug: category.slug}) }}">revenir à la liste des articles</a>#}
        <article>
            <h1 class="titleH1">{{ article.title }}</h1>
            <p class="publishedAt">Publié le : {{ article.createdAt | date('d-m-y') }}</p>
            <div class="article__flex">
                <img src="/build/assets/images/{{ article.media.fileName }}" alt="{{ article.media.alt }}">
                <div class="article__flex--content">

                    <p>{{ article.content | raw }}</p>
                </div>
            </div>

        </article>
    </section>



    <div class="comments">
        <h4><span>{{article.comments|length}} commentaires(s)</span></h4>
    </div>
    <div class="form__content">
        {{ form(commentForm) }}
    </div>
{% endblock %}
